<div class="pensamento {{ pensamento.modelo }} ff-roboto-mono" [ngClass]="larguraPensamento()">
  <img src="../../../../assets/images/{{ pensamento.modelo }}.png" alt="aspas coloridas">
  <p class="conteudo">{{ pensamento.conteudo }}</p>
  <p class="autoria"><b>{{ pensamento.autoria }}</b></p>
  <div class="acoes">
    <button class="botao-editar" routerLink="/pensamentos/editarPensamento/{{ pensamento.id }}">
      <img src="../../../../assets/images/icone-editar.png" alt="Icone de editar">
    </button>
    <button class="botao-excluir" routerLink="/pensamentos/excluirPensamento/{{ pensamento.id }}">
      <img src="../../../../assets/images/icone-excluir.png" alt="Icone de excluir">
    </button>
  </div>
</div>
